<header class="navigation-wrapper">
  <div class="container">
    <div class="navigation-content">
      <a class="site-name" href="{{ '/' | relative_url }}">Tiancheng Li</a>
      {% assign current_url = page.url | remove: 'index.html' %}
      <nav class="top-navigation" aria-label="Main navigation">
        <ul>
          {% for link in site.links %}
          <li><a href="{{ link.url | relative_url }}" {% if current_url == link.url %}aria-current="page"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
